<div class="main users-edit">
	<div class="container">
		<div class="title">
			<h2>アカウント編集</h2>
		</div>
		<div class="form users-form">
			<div class="form-body">
				<% @user.errors.full_messages.each do |message| %>
					<div class="error">
						<%= message %>
					</div>
				<% end %>
				<%= form_with model: @user, url: user_path do |form| %>
					<%= form.label :名前 %>
					<%= form.text_field :name, value: @user.name %>
					<%= form.label :アイコン %>
					<%= form.file_field :avatar %>
					<%= form.label :自己紹介 %>
					<%= form.text_area :introduction, value: @user.introduction %>
					<%= form.submit %>
				<% end %>
			</div>
		</div>
	</div>
</div>