<!-- 新規登録ページ -->
<div class="main users-new">
	<div class="container">
		<div class="title">
			<h2>新規登録</h2>
		</div>
		<div class="form users-form">
			<div class="form-body">
				<% @user.errors.full_messages.each do |message| %>
					<div class="error">
						<%= message %>
					</div>
				<% end %>
				<%= form_with model: @user do |f| %>
					<%= f.label :name, "名前" %>
					<p class="attention">※16文字以内。名前は後から変更できます。</p>
					<%= f.text_field :name, value: @user.name %>

					<%= f.label :account_name, "アカウント名" %>
					<p class="attention">※半角英数字14文字以内。 「@アカウント名」となります。</p>
					<%= f.text_field :account_name, value: @user.account_name %>

					<%= f.label :email, "メールアドレス" %>
					<%= f.text_field :email, value: @user.email %>

					<%= f.label :password, "パスワード" %>
					<%= f.password_field :password, value: @user.password %>
					<%= f.submit "新規登録" %>
				<% end %>
			</div>
		</div>
	</div>
</div>