<div class="main user-show">
	<div class="container">
		<div class="user">
			<% if @user.avatar_url %>
				<%= image_tag(@user.avatar_url) %>
			<% else %>
				<%= image_tag("/user_images/default_user.jpeg") %>
			<% end %>
			<h2><%= @user.name %></h2>
			<p><%= @user_account %></p>
			<% if @user.introduction %>
				<div class="balloon">
					<p><%= @user.introduction %></p>
				</div>
			<% end %>
			<% if @user.id == @current_user.id %>
				<p><%= link_to("編集", "/users/#{@user.id}/edit") %></p>
			<% end %>
		</div>
		<ul class="user-tabs">
			<li class="active"><%= link_to("つぶやき", "/users/#{@user.id}") %></li>
			<li><%= link_to("いいね！", "/users/#{@user.id}/likes") %></li>
		</ul>
		<% @user.posts.order(created_at: :desc).each do |post| %>
			<div class="posts-show-item">
				<div class="post-left">
					<% if post.user.avatar_url %>
						<%= image_tag(post.user.avatar_url) %>
					<% else %>
						<%= image_tag("/user_images/default_user.jpeg") %>
					<% end %>
				</div>
				<div class="post-right">
					<div class="post-user-name">
						<%= link_to(post.user.name, "/users/#{post.user.id}") %>
					</div>
					<span class="user-account">
						<%= "@" + post.user.account_name %>
					</span>
					<div class="post-content">
						<%= link_to(post.content, "/posts/#{post.id}") %>
					</div>
				</div>
				<div class="post-bottom-right post-time">
					<%= post.post_time(post[:created_at]) %>
				</div>
				<div class="post-bottom-left">
					<% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
						<%= link_to("/likes/#{post.id}/destroy_index", {method: "post"}) do %>
							<span class="fas fa-heart like-btn-unlike"></span>
						<% end %>
						<%= Like.where(post_id: post.id).count %>
					<% else %>
						<%= link_to("/likes/#{post.id}/create_index", {method: "post"}) do %>
							<span class="fas fa-heart like-btn"></span>
						<% end %>
						<%= Like.where(post_id: post.id).count %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
